.sideMenuHandler {
    position: absolute;
    top: 26%;
    right: 0;
    padding: 5px;
    line-height: 50px;
    overflow: hidden;
    height: 50px;
    background: blue;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
    -webkit-transition: width 1s;
    color: white;
}

.sideMenuHandlerClosed {
    width: 0px;
}